:root {
  --primary: #ffffff;
  --accent: #111111;
  --muted: #000000;
  --dark: #000c45;
  --darkmuted: #04078a;
}

@keyframes bounceWave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(calc(-1 * var(--amplitude)));
  }
}

.animate-bounce-wave {
  --amplitude: 10px;
  --speed: 1s;
  animation: bounceWave var(--speed) infinite ease-in-out;
}

p {
  color: var(--primary);
}

.project-card-image {
  /* width: 100%;
  height: 150px; You can also set the height as per your needs */
  overflow: hidden; /* Ensures any overflowing content is hidden */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.scrolling-fade-in {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scrolling-appear {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.scrolling-fade-left {
  animation: fade-left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.scrolling-fade-right {
  animation: fade-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

a.social {
  margin: 0 1rem;
  transition: 150ms ease-in-out;
  display: inline-block;
  color: black;
}

a.social:hover {
  color: white;
}
