:root {
  --primary: #ffffff;
  --accent: #111111;
  --muted: #000000;
  --dark: #000c45;
  --darkmuted: #04078a;
}

@keyframes bounceWave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(calc(-1 * var(--amplitude)));
  }
}

.animate-bounce-wave {
  --amplitude: 10px;
  animation: bounceWave 1s infinite ease-in-out;
}

p {
  color: var(--primary);
}

.project-card-image {
  /* width: 100%;
  height: 150px; You can also set the height as per your needs */
  overflow: hidden; /* Ensures any overflowing content is hidden */
  display: flex;
  justify-content: center;
  align-items: center;
}
